.chat-main
  .group-info
    .group-info__name
      test
      .group-info__name__member
        kiyo
    .group-info__edit
    = link_to "Edit", "#", class: "group-info__edit__link"

    
  .message-list
    .message-list__name
      masa
      .message-list__name__date
        2019/11/20(Wed) 17:43:01
    .message-list__comment
      おはよ

  .form
    = form_for [@group, @message] do |f|
    .message-form
      = f.text_field :content, class: 'message-form__text', placeholder: 'type a message'
      = f.label :image, class: 'message-form__text__image' do
        = icon('fas', 'image', class: 'message-form__text__image')
          = f.file_field :image, class: 'message-form__image__file'
      = f.submit 'Send', class: 'message-form__send'