.side-bar
  .user-name
    .user-name--top-items
      .user-name--top-items__name
      = current_user.name
      .user-name--top-items__icons
        .user-name--top-items__icons__write
        = link_to edit_user_path(current_user) , class: "user-name--top-items__icons__write" do  
          = icon('fas', 'edit')
    
        .user-name--top-items__icons__set
        = link_to "/" , class: "user-name--top-items__icons__set" do
          = icon('fas', 'cog')
  
  .group-list
    .group-list__name
    wwwwww
    .group-list__message
    wwwwwwwww
    .group-list__name
    wwwwww
    .group-list__message
    wwwwwwwww
    .group-list__name
    wwwwww
    .group-list__message
    wwwwwwwww
    .group-list__name
    wwwwww
    .group-list__message
    wwwwwwwww
    .group-list__name
    wwwwww
    .group-list__message
    wwwwwwwww
    