.side-bar
  .user-name
    .user-name--top-items
      .user-name--top-items__name
        = current_user.name
      .user-name--top-items__icons
        .user-name--top-items__icons__write
          = link_to new_group_path , class: "user-name--top-items__icons__write" do  
            = icon('fas', 'edit')
    
        .user-name--top-items__icons__set
          = link_to edit_user_registration_path , class: "user-name--top-items__icons__set" do
            = icon('fas', 'cog')
  
 
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group-list
        = link_to group_messages_path(group) , class: "side-bar__group-list" do
          .side-bar__group-list__name
            = group.name
          .side-bar__group-list__message
            = group.show_last_message